<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="keunsy-hub"/>
    <dubbo:registry address="127.0.0.1"/>
    <dubbo:protocol port="8080"/>
    <dubbo:provider retries="0" timeout="3000"/>
    <dubbo:consumer retries="0" check="false" timeout="3000"/>

    <!--<dubbo:reference id="tempService" interface="com.keunsy.hub.web.TempService"/>-->

    <!--<bean id="tempService" class="com.keunsy.hub.web.TempServiceImpl" />-->
    <!--<dubbo:service ref="tempService" interface="com.keunsy.hub.web.TempService" />-->
</beans>
